@page "/counter"
@using Blazor.Test.Client.Services


<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="QueryParameter">FromQuery</button>
<button class="btn btn-primary" @onclick="HeaderParameter">FromHeader</button>
<button class="btn btn-primary" @onclick="RouterParameter">FromRoute</button>
<button class="btn btn-primary" @onclick="FormParameter">FromForm</button>
<button class="btn btn-primary" @onclick="RouteAndQueryParameter">Route and Query</button>
<button class="btn btn-primary" @onclick="QueryAndBodyParameter">Query and Body</button>

<br />
SayHello Input: @input
<br />
SayHello Response: @response
@code {
    private int currentCount = 0;
    string? response;
    string? name;
    string? input;
    [Inject, NotNull] IHelloService? Service { get; set; }
    [Inject, NotNull] IHttpClientFactory? clientFactory { get; set; }

    private async Task QueryParameter()
    {
        currentCount++;
        name = $"Marvel{currentCount}";
        var responseTest = await Service.TestQueryParameter(name);
        response = responseTest.ToString();
        StateHasChanged();
    }

    private async Task HeaderParameter()
    {
        currentCount++;
        name = $"Marvel{currentCount}";
        var responseTest = await Service.TestHeaderParameter(name);
        response = responseTest.ToString();
        StateHasChanged();
    }

    private async Task RouterParameter()
    {
        currentCount++;
        name = $"Marvel{currentCount}";
        var responseTest = await Service.TestRouterParameter(name);
        response = responseTest.ToString();
        StateHasChanged();
    }

    private async Task FormParameter()
    {
        currentCount++;
        name = $"Marvel{currentCount}";
        var responseTest = await Service.TestFormParameter(name);
        response = responseTest.ToString();
        StateHasChanged();
    }

    private async Task RouteAndQueryParameter()
    {
        currentCount++;
        name = $"Marvel{currentCount}";
        var responseTest = await Service.TestMultiParameter(currentCount, name);
        response = responseTest.ToString();
        StateHasChanged();
    }

    private async Task QueryAndBodyParameter()
    {
        currentCount++;
        name = $"Marvel{currentCount}";
        var responseTest = await Service.TestQueryAndBodyParameter(currentCount, new() { Value = name });
        response = responseTest.ToString();
        StateHasChanged();
    }
}
