@page "/counter"
@using Blazor.Test.Client.Services


<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
SayHello Response: @response
@code {
    private int currentCount = 0;
    string? response;
    [Inject, NotNull] IHelloService? Service { get; set; }

    private async Task IncrementCount()
    {
        currentCount++;
        response = await Service.SayHelloAsync($"Marvel{currentCount}");
    }
}
